* {
    margin: 0;
    padding: 0;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
          font-weight: 100;
}

h1 {
    font-weight: 660;
}
h2 {
    font-weight: 590;
}
h3 {
    font-weight: 400;
}

button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}


button:hover:not(.tabs) {
    border:1px solid #495057;
}

.icon {
    height: 20px;
    margin-left: 10px;
}

.closedBtn {
    position: fixed;
    top: 30px;
    right: 30px;
}

.shopNow {
    background-color:#ffffff;
}

.center {
    display: flex;
    justify-content: center;
}

.screenCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
  }

.CoverImg {
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.text {
    color: black;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;
}

.container {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding: 40px;
}

.card {
    flex-shrink: 0;
    margin-left: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.shopContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.shopCard {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.modalBtn {
    position: fixed;
    z-index: -1;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}

/* .modalContainer {
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
} */

.modalContainer {
    display: grid;
    grid-template-columns: 500px 500px;
}

.modalCard {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* text-align: center; */
}

/* .modalRight {
    width: 100%;
} */

.footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    width: 50%;
}

.footerCard {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 2rem;
}

.btnContainer {
    display: flex;
    padding: 1rem 1rem;
}

.leaflet-container {
    height: 50vh;
}

@media screen and (max-width: 500px) {
    .modalContainer {
        flex-direction: 100%;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100vh;
    }

    img {
        width: 100%;
    }

    .closeBtn {
        color: white;
    }
}

